.header {
  position: relative;
  width: 100%;
  height: 170px;
}
.right-part-header {
  position: absolute;
  top: 0;
  right: 0;
  clip-path: polygon(35% 0, 100% 0%, 100% 100%, 65% 100%);
  width: 100%;
  height: 120px;
  background-color: #f5d100;
  border-bottom: 1px solid black;
}
.left-part-header {
  width: 100%;
  height: 120px;
  background-color: black;
}

.pokemon-logo {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  height: 90px;
}
