.types-list {
  display: flex;
  flex-direction: row-reverse;
}
.type {
  margin: 0 10px 0 10px;
  padding: 5px;
  border: 1px solid black;
}

.Vol-type {
  background-color: var(--flying-color-full);
}
.Feu-type {
  background-color: var(--fire-color-full);
}
.Plante-type {
  background-color: var(--grass-color-full);
}
.Poison-type {
  background-color: var(--poison-color-full);
}
.Eau-type {
  background-color: var(--water-color-full);
}
.Insecte-type {
  background-color: var(--bug-color-full);
}
.Normal-type {
  background-color: var(--normal-color-full);
}
.Électrik-type {
  background-color: var(--electric-color-full);
}
.Sol-type {
  background-color: var(--ground-color-full);
}
.Fée-type {
  background-color: var(--fairy-color-full);
}
.Combat-type {
  background-color: var(--fighting-color-full);
}
.Psy-type {
  background-color: var(--psychic-color-full);
}
.Roche-type {
  background-color: var(--rock-color-full);
}
.Glace-type {
  background-color: var(--ice-color-full);
}
.Dragon-type {
  background-color: var(--dragon-color-full);
}
.Acier-type {
  background-color: var(--steel-color-full);
}
.Spectre-type {
  background-color: var(--ghost-color-full);
}
.Ténèbres-type {
  background-color: var(--dark-color-full);
}
